/*
Name:Laxman Malla
UN ID:16443353*/
/*My css file of index.html contain body, header, section, footer and lastly I
have used @media inorder to make responsive */
body{      /* this helps to make body part attractive*/
  background-image: url('../images/wall1.jpg');/*to keep background image*/
  background-repeat: repeat; /*to continue the background image after the end of image*/
  font-size: 14px; /*it gives fontsize of body part 14px*/
  margin: 0%;/*it gives margin 0 to body part*/
  width: 100%;/*it gives width 100% to body parts*/
  height: 100%;/*It gives height 100% to body parts*/
  line-height: 30px;/*It gives line height of background images 30px*/


}
h1,h2,h3,h4,h5,h6,p,ul{/*this is written to maintain margin
  and padding in header and paragraph */
  margin:0;
  padding: 0;
}
header{/*this helps to make attractive header*/
  width: 100%;
  background: #4C000C;
  font-size: 14px;
  padding: 0.5%; /*It gives padding 0.5% to the header*/
  position:static;/*It helps to make header move up and down when the curser is moved*/
}
.header img{/*It make the image curved  by giving boarder radius 50%*/
  border-radius: 50%;
}

.lax{/*It is the first div class of header*/
  float: left;/*It helps this div to move left*/
  padding: 1%;
  margin: 1%;
  width: 50px;/*This gives the width of the lax div pic 50px*/
  height: 50px;/*This gives the height of the lax div pic 50px*/
  position: relative;
  -webkit-animation: mymove 5s infinite;/*It gives the animation to the logo*/
  animation: mymove 5s infinite;
}
.lax img{
  width:150px;/*This gives the width of the logo pic 50px*/
  height:100px;/*This gives the height of the logo pic 50px*/
  border-radius: 20px;/*It provide the border radius 20px of the pic so that it become curved*/
}

@-webkit-keyframes mymove {
  from {left: 0px;}/*It moves the logo from left */
  to {left: 100px;}/*It moves end to left only*/
}
.name {
  text-align: center;/*It put my name in center of the div*/
  color: white; /*It provide the font color s white*/
  width: auto;
  font-size: 15px;
  font-style:normal;
  width: auto;
  padding-right: 10%;
  @import url(https://fonts.googleapis.com/css?family=Fira+Sans);/*It helps to give new font from googlefont*/
  font-family: 'Fira Sans', sans-serif;
    }
.menubar{/*This provide whole menubar div color as #4C000C*/
  background:  #4C000C;
}
.menubar ul{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-end;/*It keep the whole navigation content to the end*/

}
.menubar ul li{/*It modify all the items inside the ul tag */
  list-style: none; /*By this the list style will be nothing*/
  background: #7A0012;
  color: white;
  padding: 1%;
  margin: 1.5%;
  font-size: 20px;
}
.menubar ul li a{/*this is for link items*/
  text-decoration:inherit;/*It remove the line under the navigation items*/
  color: white;

}
.menubar ul li:hover{/*It helps in hover of the navigation items
  whose color changes to gray on hover and its border radius is made 10px to make curved in edge*/
  background: gray;
  border-radius: 10px;}
.menubar ul li:hover a{
  color: white
}
section{/*It helps to make attractive section.Section contain two div and first div contain three sub article classes .*/
  width: 100%;
}
section img{
  border-radius: 100%;
}
article img {
  width: 150px;
  height: 200px;
  border-radius: 100%;
}
article a :hover {/*It helps to display border color red while hovering and its border increase to 3px*/
  border: 3px solid red;
}
.images{/*It gives space around the images, It show all the images in one row by keeping flex-direction-row*/
  margin:1%;
  justify-content:space-around;
  padding-top: 6%;
  display: flex;
  flex-direction: row;

}
.pix img{/*It provides height and width for the images of pix div*/
  width:150px;
  height:150px;
}
.pix:hover{
  border-radius: 100%;/*It makes circle of the items of pix div while hovering by keeping border-radius 100%*/
  }
.wel{
  margin-right: 0%;
}
.wel img{/*It provides height and width for the images of wel div*/
  width:150px;
  height:150px;
}
.wel:hover{
  border-radius: 100%;/*It makes circle of the items of wel div while hovering by keeping border-radius 100%*/
  }
.pic img{/*It provides height and width for the images of pic div*/)
 width:150px;
 height:150px;
}
.pic:hover{
  border-radius: 100%;/*It makes circle of the items of pic div while hovering by keeping border-radius 100%*/
  }
.intro{
  @import url(https://fonts.googleapis.com/css?family=Ubuntu);/*This is the font taken from google font inorder to make more attractive*/
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;/*Ubuntu is the font taken from google font*/
  padding-top: 3%;
  padding-bottom: 11px;
}
.intro a:hover{/*It makes hover in intro div*/
  padding: 0.4em 1em;
  background: #660000;
  box-shadow: 3px 3px 7px black;/*It provides box-shadows while hovering*/
  border-radius: 5%;/*It curved the box into 5% while hovering*/
  color: gray;
  }
footer{/*This helps to make attractive footer*/
  background: #4C000C;
  padding-top:  1%;/*It provide padding 1% from top */
  padding-bottom: 1%;/*It provide padding 1% from bottom*/
  margin: 0%;
  margin-top: -0.8%;/*It gives margin -0.8% from top*/
   }
.quotes{/*It design on the quotes div by giving padding:3% and giving font-size:30px  */
  background-color: #660000;
  font-size: 30px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 3%;
}
.copy{/*It is the last part of the footer*/
  background-color: #4C000C;
  color: white;
  text-align: center;/*It is kept to center*/
  }
.copy pre{
  font-family: 'Ubuntu', sans-serif;/*It is the font type taken from the google font */
  }
.social {
  padding-left: 531px;/*In order to kept with the same line of the copy div class padding is given from left side*/
  }
.social ul{
  display: flex;
  flex-direction: row;/*It listed all the items in row*/
   }
.social ul li{
   list-style: none;/*It remove the notation of the navigation items kept nothing*/
   background: #4C000C;
   color: white;
   padding: 0.5%;/*It gives padding 0.5% to navigation items seperately*/
   margin:0.3 %;/*It gives margin 0.3% to navigation items seperatly*/
     }
.social ul li a  {
  text-decoration: inherit;/*It remove the underline of the navigation items kept nothing*/
  }
.social ul li:hover{    /*It helps to hover in social sites icon and change its color while hovering*/
  background: gray;
  border-radius: 30%;
   }
.social ul li:hover a{ /*It makes the background of  link site white while hovering */
  color: white}
@media all and (max-width: 600px)
  /*This is done for the responsive or for the mobile view. Mobile view appears when the size is less or equal to 600px*/
  {
.lax {
  margin-top: 16%;
  padding-bottom: 2%;
  }
.menubar ul{
   flex-flow: column wrap;
   width: 100%;
   padding-top: 10%;
  	}
.menubar ul li {
    flex-direction:column;/*This keep all the menubar items in column*/
    text-align: center;
    }
 section .images{
    justify-content:space-around;/*It gives the space around all the items of this div*/
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
  }
  section .images article {
    padding: 10%;
  }
  .social {
    padding-left: 25%;/*gives padding 25% from left*/
  }
 @-webkit-keyframes mymove {/*This is for the animation and moves from left to right and then to left*/
    from {left: 0px;}
    to {left:250px;}
}
