/*
Name:Laxman Malla
UN ID:16443353*/
/*My css file of cv.html contain body, header, section, footer and lastly I
have used @media to moake responsive */
body{/* this helps to make body part attractive*/
  font-size: 14px;/*it gives fontsize of body part 14px*/
  margin: 0;/*it gives margin 0 to body part*/
  width: cover;
  line-height: 30px;/*It gives line height of body part 30px*/
}
h1,h2,h3,h4,h5,h6,p,ul{/*this is written to maintain margin
  and padding in header and paragraph */
  margin: 0;
  padding: 0}
header{/*this helps to make attractive header*/
  background: #4C000C;
  font-size: 14px;
  padding: 0.5%;/*It gives padding 0.5% to the header*/
}
.lax{/*It is the first div class of header*/
  float: left;/*It helps this div to move left*/
  padding: 1%;
  margin: 1%;
  width: auto;
  width: 50px;/*This gives the width of the lax div pic 50px*/
  height: 50px;/*This gives the height of the lax div pic 50px*/
  font-weight: bold;
  position: relative;
  -webkit-animation: mymove 5s infinite;/*It gives the animation to the logo*/
  animation: mymove 5s infinite;
  background-size: cover;/*It provide total size of the lax div cover i.e. fit to the page*/
}
.lax img{
  width:150px;/*This gives the width of the logo pic 150px*/
  height:100px;/*This gives the height of the logo pic 100px*/
  border-radius: 20px;/*It provide the border radius 20px of the pic so that it become curved*/
}
@-webkit-keyframes mymove {
    from {left: 0px;}/*It moves the logo from left */
    to {left: 100px;}/*It moves end to left only*/
}
.name{
  text-align: center;/*It put my name in center of the div*/
  color: white;/*It provide the font color s white*/
  width: auto;
  font-size: 15px;
  font-style:normal;
  width: auto;
  padding-right: 10%;
  @import url(https://fonts.googleapis.com/css?family=Fira+Sans);/*It helps to give new font from googlefont*/
  font-family: 'Fira Sans', sans-serif;
}
.menubar{/*This provide whole menubar div color as #4C000C*/
  background: #4C000C;
}
.menubar ul{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-end;/*It keep the whole navigation content to the end*/
}
.menubar ul li{/*It modify all the items inside the ul tag */
  list-style: none;/*By this the list style will be nothing*/
  background: #7A0012;
  color: white;
  padding: 1%;
  margin: 1.5%;
  font-size: 20px;
}
.menubar ul li a{/*this is for link items*/
  text-decoration:inherit;/*It remove the line under the navigation items*/
  color: white;
}
.menubar ul li:hover{/*It helps in hover of the navigation items
  whose color changes to gray on hover and its border radius is made 10px to make curved in edge*/
  background: gray;
  border-radius: 10px;
}
.menubar ul li:hover a{
  color: white}
section{/*It helps to make attractive section*/
  display: flex;
  flex-direction: row;/*This helps to put all the contents in one row*/
  width: 100%;
}
.img{
margin: 0%;
}
.img img{
  width:500px;
  height:500px;
}
.malla{
  @import url(https://fonts.googleapis.com/css?family=Clicker+Script);/*it is the font taken from the Google-font*/
  text-align: center;
  color: #660000;
  margin-bottom: 0.8%;
  background: gray;
  padding: 2%;
font-family: 'Clicker Script', cursive;
}
.malla h1{
  transition: padding 3s;
}
.malla a:hover{/*this helps to change color to gray of link sites of malla div while hovering and box-shadow also appear*/
    padding: 0.4em 1em;
    background: #660000;
    box-shadow: 3px 3px 7px black;
    border-radius: 5%;
    color: gray;
}
.malla h1:hover{/*this helps to change color to gray of header of malla div while hovering and box-shadow also appear*/
    padding: 0.3em 6em;
    background: #660000;
    color: gray;
    box-shadow: 3px 3px 7px black;
}
footer{/*This helps to make attractive footer*/
  background: #4C000C;
  padding-top:  1%;/*It provide padding 1% from top and bottom */
  padding-bottom: 1%;
  margin: 0%;/*It gives margin 0% and -0.8% from top  */
  width: 100%;
  margin-top: -0.8%;
 }
 .quotes{/*It design on the quotes div by giving padding:3% and giving font-size:30px  */
  background-color: #660000;
  font-size: 30px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 3%;
}
.copy{/*It is the last part of the footer*/
  background-color: #4C000C;
  color: white;
  text-align: center;
}
.copy pre{
	font-family: 'Ubuntu', sans-serif;/*It is the font type taken from the google font */
}
.social {
  padding-left: 531px;
}
.social ul{
  display: flex;
  flex-direction: row;/*It listed all the items in row*/
 }
.social ul li{
   list-style: none;/*It remove the notation of the navigation items kept nothing*/
   background: #4C000C;
   color: white;
   padding: 0.5%;/*It gives padding 0.5% to navigation items seperately*/
   margin:0.3 %;/*It gives margin 0.3% to navigation items seperatly*/
}
.social ul li a  {
   text-decoration: inherit;/*It remove the underline of the navigation items kept nothing*/
}
.social ul li:hover{/*It helps to hover in social sites icon and change its color while hovering*/
   background: gray;
   border-radius: 30%;
 }
.social ul li:hover a{/*It makes the background of  link site white while hovering */
  color: white}
@media all and (max-width: 600px){
  /*This is done for the responsive or for the mobile view. Mobile view appears when the size is less or equal to 600px*/
.lax {
   margin-top: 16%;
   padding-bottom: 2%;
}
.img img{
  width: 100%;
}
.menubar ul{
  	flex-flow: column wrap;
    width: 100%;
    padding-top: 10%;
}
.menubar ul li {/*This keep all the menubar items in column*/
   text-align: center;
}
section{
  flex-flow: column wrap;
  }
.article{
    width: 98%;
    margin:1%;
  }
.social {
  padding-left: 25%;/*gives padding 25% from left*/
  }
}
