body{background: black; font-size: 14px;margin: 0;width: 100%; line-height: 30px;
}
h1,h2,h3,h4,h5,h6,p,ul{margin: 0;padding: 0}
header{background: black;font-size: 14px;margin-bottom: 0.5%;padding: 0.5%;


}
.lax{
  display: flex;float: left;padding: 1%;margin: 1%;width: auto;
    width: 50px;
    height: 50px;
    background-color: black;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 100px;}
}

.name{text-align: center;color: white;width: auto;font-size: 25px;font-style:normal;width: auto;padding-right: 15%;}
.menubar{background: black;



div:hover {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

}
.menubar ul{
  display: flex;flex-flow: row wrap;justify-content:flex-end;

}
.menubar ul li{
  list-style: none;background: black; color: white;padding: 1.5%;margin: 1.5%;font-size: 20px;

}

.menubar ul li a{
  text-decoration:inherit;color: white;

}
.menubar ul li:hover{background: gray;border-radius: 10px;}
.menubar ul li:hover a{color: white}
section{
background: white;width: 100%;display: flex;flex-direction: row;
}
form{

  font-size: 20px;

color: orange;
}
.name {width: 70%;
padding-right: 5%;margin-left: 5%;
}
.name ul{
  text-align: center;
}
.name li{
  list-style: none;margin: 4%;margin-bottom: 0.6%;transition: padding 3s;list-style: none;
}
.name li:hover{
  padding: 0.3em 6em;background: black;
box-shadow: 3px 3px 7px black;
}
.data{
  width: 40%;
}
.data ul{
  text-align: left;

}
.data li{
  list-style: none;margin: 3.5%;padding: 0.5%;padding-bottom: 0.4%;
}
input{
  color: orange;padding: 0.2em;border: 1.5px solid red;
}
.submit{
  transition: padding 3s;
}


.submit:hover{
  padding: 0.3em 6em;background: black;
box-shadow: 3px 3px 7px black;
}
.reset{
    transition: padding 3s;
}
.reset:hover{
  padding: 0.3em 6em;background: black;
box-shadow: 3px 3px 7px black;

}

.detail{
  padding: 4.7%;margin: 0%; text-align: center;
  @import url(https://fonts.googleapis.com/css?family=Clicker+Script);
  font-family: 'Clicker Script', cursive;

}
footer{
  background: black;padding: 1%;display: flex;flex-direction: row;
   margin: 0%;width: 100%;}

   .social{
padding-right: 35%;transition: padding 3s;
 }
 .social:hover{
   padding: 0.3em 6em;background: black;
 box-shadow: 3px 3px 7px black;

 }

   .social ul{
     display: flex;flex-direction: column;
   }
   .social ul li{
     list-style: none;background: black; color: white;padding: 0.5%;margin:0.3 %;
   }
   .social ul li a  {
  text-decoration: inherit;
}
.social ul li:hover{background: gray; border-radius: 10px}
.social ul li:hover a{color: white}

}
.googlemap{
  margin-top: 2%;padding: 0%;display: flex;flex-direction: row-reverse;;

}
.googlemap h1{
  color: white;text-align: left;padding-left: 30%;
}
.googlemap p{
  color: white;
}

@media all and (max-width: 600px){
	.menubar ul{
		flex-flow: column wrap;
	}
	section{
		flex-flow: row nowrap;
    font-size: 10px;
	}
  .detail{
    display: none;
  }
	.article{
		width: 98%;
		margin:1%;
	}
footer{
width: auto;
}
.social{
  width: 50%;
}
.googlemap{
  width: 50%;
}
